<div class="fnIcon">
    <img class="svg fnIcon__img fnIcon__img--fp" src="{{ global.icon.fn.logo_fp }}">
    <img class="svg fnIcon__img fnIcon__img--fto" src="{{ global.icon.fn.logo_fto }}">
    <img class="svg fnIcon__img fnIcon__img--atm" src="{{ global.icon.fn.logo_atm }}">
</div>

